

#leftnav { z-index:3; position:absolute; top:0; right:auto; bottom:0; left:0; width:200px; height:100%; background:#333; 

	-moz-box-shadow:5px 0 5px rgba(0,0,0,0.2); /* Mozilla browsers */
	-webkit-box-shadow:5px 0 5px rgba(0,0,0,0.2); /* Webkit Browsers */
	box-shadow:5px 0 5px rgba(0,0,0,0.2); /* CSS3 */

}

#chartOptions { z-index:2; position:absolute; top:0; right:0; bottom:auto; left:255px; height:50px; }
#chartOptions .chart-option { width:auto; height:50px; float:left; margin-right:10px; }
#chartOptions .chart-option label { font-size:11px; color:#BBB; line-height:50px; }
#chartOptions .chart-option select { padding:5px; }




#contentpane { z-index:1; position:absolute; top:0; right:0; bottom:0; left:200px; height:100%; overflow:hidden; }
#contentpane.loading { background:url("../images/ajax-loader.gif") 50% 50% no-repeat; }
#contentpane.loading * { display:none !important; }

#statChartBubbles { display:none; }
#globalChartInfo { display:none; }
.chartData { display:none; }
.chartBubbleInfo { display:none; }


.infoarea { width:auto; height:100px; padding:0 55px; position:absolute; top:auto; right:0; bottom:0; left:0; }
.infoarea h2 { line-height:100px; font-size:20px; color:#666; margin:0; padding:0; }


.chart { position:absolute; top:50px; right:50px; bottom:100px; left:50px;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.chart .overlay { z-index:1; }
.chart .tickLabels { z-index:0; position:absolute; top:0; left:0; width:100%; height:100%; }





#statTooltip { z-index:9999; display:none; position:absolute; width:200px; height:auto; }
#statTooltip .background { z-index:0; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }
#statTooltip .content { z-index:1; padding:10px 15px 20px 15px; }
#statTooltip .content .data { display:block; color:#FFF; font-size:14px; line-height:20px;  }
#statTooltip .content .data .label { color:#B4DAE5; font-size:11px; line-height:20px; padding-right:6px; }
#statTooltip .content .dateFormatted { display:block; color:#3FA9C3; font-size:11px; line-height:20px; margin-top:2px; }
#statTooltip.upside-down .content { padding:20px 15px 10px 15px; }

#todayTooltip { z-index:9999; display:none; position:absolute; width:70px; height:auto; }
#todayTooltip .background { z-index:0; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }
#todayTooltip .content { z-index:1; padding:5px 0 10px 0; color:#FFF; font-size:12px; text-align:center; }

#newTooltip { z-index:9999; display:none; position:absolute; width:70px; height:auto; }
#newTooltip .background { z-index:0; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }
#newTooltip .content { z-index:1; padding:5px 0 10px 0; color:#FFF; font-size:12px; text-align:center; }





#statisticNav { width:200px; height:auto; margin:0; padding:0; }
#statisticNav li { position:relative; width:100%; margin:0; padding:0; list-style:none; cursor:pointer; border-bottom:1px solid #444; 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
#statisticNav li .nav-label { z-index:1; display:block; position:relative; font-size:14px; padding:20px 10px; color:#666; text-shadow:rgba(0,0,0,0.5) -1px -1px 0; }
#statisticNav li .nav-bg { z-index:0; display:none; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }
#statisticNav li:hover .nav-label,
#statisticNav li.active .nav-label { color:#FFF; text-shadow:rgba(0,0,0,0.5) 1px 1px 0; }
#statisticNav li:hover .nav-bg,
#statisticNav li.active .nav-bg { display:block; }






.page { display:none; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%;  }
.page.active { display:block; }



